body {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  position: relative;
}

table {
  border-collapse: collapse;
  position: relative;
}

td {
  padding: 2px;
  text-align: center;
  position: relative;
}

input[type="button"] {
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f0f0f0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 50px;
}
